// Colors
$off-black: #1f232a;
$off-white: #a5afd7;
$dark-blue: #34383f;
$blue: #1f232a;
$grey-black: #1f232a;
$react-blue: #60dafb;
//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;